.edu-wrapper {
  background: hsla(160, 91%, 65%, 0.884);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: end;
  .college {
    font-size: 1.5rem;
  }
}

.light-red{
  background: hsla(160, 91%, 65%, 0.884);
}